body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #2c3e50; /* Background color for the entire page */
    color: #ecf0f1; /* Text color */
  }
  
  .countdown-container {
    text-align: center;
    animation: fadeIn 1s ease-in-out; /* Fade-in animation for the container */
  }
  
  h1 {
    color: #3498db; /* Header color */
    margin-bottom: 20px;
    text-shadow: 1px 1.5px 1.5px rgb(244, 244, 254);
  }
  
  .event-input {
    max-width: 300px;
    margin: 20px auto;
    padding: 15px;
    background-color: #34495e; /* Input background color */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .event-input:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #3498db; /* Label color */
  }
  
  input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #3498db; /* Input border color */
    border-radius: 5px;
    background-color: #2c3e50; /* Input background color */
    color: #ecf0f1; /* Input text color */
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
    outline: none;
    border-color: #2980b9; /* Input border color on focus */
  }
  
  button {
    padding: 10px;
    background-color: #2ecc71; /* Button background color */
    color: #ecf0f1; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #27ae60; /* Button background color on hover */
  }
  
  #countdown {
    font-size: 24px;
    font-weight: bold;
    color: #2ecc71; /* Countdown text color */
    margin: 20px 0;
    transition: color 0.5s ease-in-out;
  }
  
  #countdown:hover {
    color: #f39c12; /* Countdown text color on hover */
    transform: scale(1.1);
    transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  #current-time {
    font-size: 18px;
    color: #ecf0f1; /* Current time text color */
  }
  
  #stopwatch {
    font-size: 36px;
    font-weight: bold;
    color: #f39c12; /* Stopwatch text color */
    margin: 20px 0;
  }
  
  .controls {
    display: flex;
    gap: 10px;
    margin-left: 1.5rem;
  }
  
  button {
    padding: 10px;
    background-color: #3498db; /* Button background color */
    color: #ecf0f1; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #2980b9; /* Button background color on hover */
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  